<form action="/admin/blog_create" method="post">

	<input type="text" id="title" name="title" placeholder="Título" />
	<br />
	<textarea id="body" name="body" placeholder="Texto de la entrada"></textarea>
	<br />
	<input type="submit" value="Publicar" />

</form>